<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1>Admin Login</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Employee Id</label>
                    <input type="text" class="form-control" name="empcode" [(ngModel)]="empcode">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValues()" class="btn btn-success">Search</button>
                </div>
            </div>
            <div class="row" *ngFor="let i of searchdata">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Empcode </label>
                    <input type="text" class="form-control" value="{{i.empcode}}" >

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Desingation</label>
                    <input type="text" class="form-control" value="{{i.designation}}">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Salary</label>
                    <input type="text" class="form-control" value="{{i.salary}}">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Company Name</label>
                    <input type="text" class="form-control" value="{{i.companyName}}">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label"> Phone number</label>
                    <input type="text" class="form-control" value="{{i.mobileNo}}">

                </div>
              
            </div>
        </div>
    </div>
</div>